.hero {
    background-color: #0f0f0f;
    color: white;
    text-align: center;
    padding: 100px 20px;
    position: relative;
}

.content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.content p {
    color: #bdbdbd;
    margin-bottom: 40px;
}

.content img {
    width: 600px;
    max-width: 100%;
}