.company {
    width: 85%;
    margin: 100px auto;
    text-align: center;
    background-color: #111;
}

.heading {
    color: #fff;
    font-size: 32px;
    margin-bottom: 60px;
}

.heading span {
    color: #8054ff;
}

.logoGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 30px;
    align-items: center;
}

.logoBox {
    background-color: #111;
    padding: 25px;
    border-radius: 16px;
    transition: 0.3s;
}

.logoBox img {
    height: 30px;
    object-fit: contain;
}

.logoBox:hover {
    transform: translateY(-5px);
    background-color: #1f1f1f;
}