.stats {
    padding: 60px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(135deg, #ff9898 14%, #8054ff 86%);
}

.content {
    max-width: 500px;
}

.subtitle {
    color: #ffffffcc;
    font-size: 14px;
    margin-bottom: 10px;
}

.content h1 {
    color: white;
    font-size: 36px;
    margin-bottom: 25px;
    line-height: 1.3;
}

.btn {
    padding: 12px 24px;
    font-size: 14px;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: #1a1a1a;
    transform: translateY(-3px);
}

.imageWrapper img {
    height: 220px;
    border-radius: 20px;
}