.features {
    background-color: #000;
    padding: 100px 80px;
    text-align: center;
}

.header h1 {
    color: white;
    font-size: 40px;
    margin-bottom: 20px;
}

.header p {
    color: #9e9e9e;
    max-width: 600px;
    margin: 0 auto 60px auto;
    line-height: 1.6;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card {
    background-color: #18181c;
    padding: 40px 20px;
    border-radius: 12px;
    transition: 0.3s;
    cursor: pointer;
}

.card img {
    margin-bottom: 20px;
}

.card h3 {
    color: white;
    margin-bottom: 15px;
    font-size: 18px;
}

.card p {
    color: #9e9e9e;
    font-size: 14px;
    line-height: 1.5;
}

.card:hover {
    transform: translateY(-8px);
    background-color: #1f1f25;
}