.contact {
    padding: 80px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
}

.imageWrapper img {
    height: 320px;
}

.formSection {
    max-width: 500px;
}

.formSection h1 {
    color: #fff;
    font-size: 36px;
    margin-bottom: 20px;
}

.formSection p {
    color: #9e9e9e;
    margin-bottom: 30px;
    line-height: 1.6;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form input {
    padding: 14px 18px;
    border-radius: 12px;
    border: 1px solid #222;
    background-color: #111;
    color: #fff;
    font-size: 14px;
    outline: none;
    transition: 0.3s;
}

.form input:focus {
    border-color: #8054ff;
}

.form button {
    padding: 14px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    font-weight: 600;

    background: linear-gradient(92deg, #ff9898, #8054ff);
    color: #fff;
    transition: 0.3s;
}

.form button:hover {
    transform: translateY(-3px);
}